<div class="row login_block">
    <div class="col-sm-4 col-md-4"></div>
    <div class="col-sm-4 col-md-4 card bg-light login_box">
        <div><h3 style="text-align: center">Login</h3></div>
        <div class="form-group">
            <label for="email"><b>Email:</b></label>
            <input [(ngModel)]="name" #ctrl="ngModel" id="username" type="email" class="form-control"  placeholder="Enter email" name="email" required>
        </div>
        <div class="form-group">
            <label for="pwd"><b>Password:</b></label>
            <input [(ngModel)]="pwd" #ctrl="ngModel" id="pwd" type="password" class="form-control" placeholder="Enter password" name="pswd" required />
        </div>
        <div class=" row text-center">
            <div class="col-md-6 col-sm-6"><button type="submit" class="btn btn-primary float-right" (click)="login()">Login</button></div> 
            <div class="col-md-6 col-sm-6"><button type="submit" class="btn btn-danger float-left" [routerLink]="['/register']">Register</button></div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4"><img src="../../assets/hotel_images/roy_logo_1.png" id="login_img"></div>
</div>

<!-- Footer -->
<footer class="container-fluid mainfooter " role="contentinfo">
        <div class="footer-middle">
          <div class="row">
            <div class="col-md-7 col-sm-7">
                    <div class="img_align"><img src="../../assets/hotel_images/roy_logo_1.png" [routerLink]="['']" height = 70px alt="Hotel Name"></div><br/>
                    <div  style="padding-left:40px;"><p>A boutique property that sets <br/> the standard for exclusive luxury <br/> with its unique beauty and charm</p></div>
            </div>
            <div class="col-md-5 col-sm-5">
                <div id="contact_us">
                    <div><h4 class="hotel_name">Contact Us</h4></div>
                    <div style="border-top:1px solid blanchedalmond;width:120px;margin-bottom: 10px"></div>
                    <div>
                        <p>3015 Grand Ave, Coconut Grove,<br/>  Merrick Way,FL 12345</p>
                    </div>
                    <div><p><i class="fas fa-envelope"></i> hotelRoys@royshotel.com</p></div>
                    <div><p><i class="fas fa-phone-volume"></i> +91 9999 999999 <br/>
                                +91 9999 888888</p></div>
                    <div><p><i class="fas fa-users-cog"></i> 24/7 Customer Service</p></div>
                </div>
                <div id="social_media_icons">
                    <ul class="footer_list">
                        <li><a class="twitter" href="https://www.twitter.com//"><i class="fab fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a class="facebook" href="https://www.facebook.com//"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="instagram" href="http://www.instagram.com/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a class="pinterest" href="http://www.pinterest.com/"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a class="tripadvisor" href="http://www.tripadvisor.com/"><img src="http://hotelwp.thimpress.com/wp-content/uploads/sites/2/2016/09/trip-icon.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="textwidget">
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 copy">
              </div>
          </div>
    
        </div>
</footer>